/* Universal */
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}

/* Header */

header {
  width: 100%;
  background-color: black;
}
.nav {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  align-items: center;
}

.nav_list li {
  list-style: none;
  font-size: 2rem;
}

.nav h1 {
  font-size: 4rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1.5px;
} 

a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .nav_list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .nav_list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    font-size: 200%;
    transition: 0.5s ease-in-out;
  }
  
  .nav h1 {
    font-size: 300%;
    transition: 0.5s ease-in-out;
    margin: auto 0;
  }
}

/* Mission */

.mission-description {
  display: flex;
  justify-content: space-evenly;
}

.miss-desc {
  width: 45%;
  text-align: center;
  margin: 25px 0;
  font-size: 1.5rem;
}

.image {
  width: 27%;
  margin: auto 0;
}

.image img {
  max-width: 100%;
  height: auto;
}

.mission h2 {
  font-size: 3rem;
}

.description h3 {
  font-size: 2.5rem;
}


@media screen and (max-width: 1030px) {
  .mission-description {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .image {
    width: 45%;
    transition: 0.25s;
    margin: 20px auto;
  }

  .miss-desc {
    width: 90%;
    margin: -20px auto 0;

  }
}

/* Images */

.container {
  display: grid;
  gap: 3px;
  width: 92%;
  justify-content: center;
  margin: 150px auto 0px;
  grid-template-columns: 25% 25% 25% 25%;
}

.img-container {
  width: 100%;
  height: auto;
}

.img-container img {
  max-width: 100%;
  width: 100%;
}

.translate-56 {
  transform: translate(0, -56.9%);
}

.translate-7 {
  transform: translate(0, -0.7%);
}

.translate-8 {
  transform: translate(0, -63%);
}

.translate-9 {
  transform: translate(0, -89%);
}

.translate-10 {
  transform: translate(0, -57%);
}

@media screen and (max-width: 950px) {
  .container {
    grid-template-columns: 33% 33% 33%;
    transition: 1s;
  }
  
  .translate-4 {
    transform: translate(0, -56.9%);
  }

  .translate-6 {
    transform: translate(0, -1%);
  }

  .translate-7 {
    transform: translate(0, -117.4%);
  }

  .translate-8 {
    transform: translate(0, -89.1%);
  }

  .translate-9 {
    transform: translate(0, -1.9%);
  }

  .translate-10 {
    transform: translate(0, -225.6%);
  }
}

@media screen and (max-width: 770px) {
  .container {
    grid-template-columns: 50% 50%;
  }

  .translate-3 {
    transform: translate(0, -0.8%);
  }

  .translate-4 {
    transform: translate(0, -0.8%);
  }

  .translate-5 {
    transform: translate(0, -1.5%);
  }

  .translate-6 {
    transform: translate(0, -63.8%);
  }

  .translate-7 {
    transform: translate(0, -40.8%);
  }

  .translate-8 {
    transform: translate(0, -76.5%);
  }

  .translate-9 {
    transform: translate(0, -51.3%);
  }

  .translate-10 {
    transform: translate(0, -64.5%);
  }
}